
/* ---- Get Fonts ---- */
@import url(http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);


/*----- Body -----*/
body {
	margin:auto;
	color:#bbb;
	
}
/*----- Header -----*/
header {
	background-color:#252525;
	height:50px;
	text-align:center;
	position:fixed;
	width:100%;
	
}
.side_nav {
	box-shadow:inset 13px -5px 160px 13px rgba(0,0,0,0.34);
	
}
.side_nav a {
	font-size:1.1em;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

#logo a:link, #logo a:visited, #logo a:active {
	color:black;
}

.side_nav a:link, .side_nav a:visited, .side_nav a:active {
	color:#aaa;
}

#logo a {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 52%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#a90329), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 52%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 52%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 52%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 52%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	border-radius:1% 1% 100% 100%;
	border-radius:0;
	padding:10px;
}

#logo {
	font-family: 'Averia Gruesa Libre', cursive;
	font-size: 26px;
	font-weight: 900;
	text-shadow: -1px -1px #000, 1px 1px #666;
	line-height:50px;	
	display: inline-block;
	float: left;
	border-radius:50%;
	color: black;
}

/*------ Header: Right -------*/
#personalized_welcome {
	font-family: 'Averia Gruesa Libre', cursive;
	float:right;
	background-color:#252525;
	border-radius:10px;
}
.personal_profile_pic img {
	width:50px;
	height: 50px;
	border-radius:2px;
}

.personal_name {
	display:block;
	padding:8px;
	border-radius:5%;
	color:#bbb;
}

/*------ Main -------*/
main {
	background: #373737 url("../pictures/backgrounds/bg.png") 0 0 repeat;
	text-align:center;
	margin:0px;
	padding:0px;
}

main h1 {
	font-family: 'Averia Gruesa Libre', cursive;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 52%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#a90329), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 52%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 52%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 52%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 52%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	color:black;
}

/*----- Side Nav ------*/
.side_nav {
	font-family: 'Titillium Web', sans-serif;
	font-size:1.2em;
	letter-spacing: 1px;
	float:left;
	text-align:left;
	width: 150px;
	min-width:100px;
	border-radius:1% 1% 5% 1%;
	position:fixed;
	margin-top:50px;
}
.side_nav ul {
	list-style-type: none;
	padding:0px;
	
}
.side_nav ul li { 
	padding:1% 15%;
}
.side_nav ul li:hover {
background: rgba(0, 0, 0, 0.1);
border-radius:10px;
}

.side_nav ul li:hover a {
  color: white;
  width:100%;
}

/*----- Main Content ----*/
.main_content {
	display:inline-block;
	width:65%;
	margin-bottom:4em;
	margin-top:50px;
}
/*--- Footer -----*/
footer {
	background-color:#252525;
	padding:1px;
}

/*--- Transaction -----*/
.transaction {
	background: rgba(0, 0, 0, 0.2);
	display:block;
	margin-bottom:15px;
	height:250px;
	border:solid #000 1px;
	border-radius:5px;
}
.transaction:hover {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

.trans_left {
	float:left;
	width:30%;
	height:250px;
	margin-left:10%
}

.trans_middle {
	float:left;
	vertical-align:top;
	margin-top:9%;
	width:20%%;
}

.trans_right {
	float:left;
	width:35%;
	height:250px;
}

.trans_user_picture {
	margin-top:5%;
	display:inline-block;
	width: 70%;
	height:70%;
	border:#000 solid 2px;
	border-radius:50%;
}

.trans_item_picture {
	margin-top:5%;
	display:inline-block;
	height:60%;
	border-radius:7%;
	border:#000 solid 2px;
	width:70%;
}

.trans_item_name, .trans_user_name {
	display:block;
	color:#fff;
	font-family: 'Titillium Web', sans-serif;
}

.to_or_from {
	color:white;
	font-size:2em;
	line-height:100%;
	display:inline-block;
	width:20%;
	min-width:90px;	
}

.trans_complete {
	display:block;
}
.trans_details {
	text-align:left;
	margin: 5% 0% 0% 5% ;
	color:#bbb;
}
.trans_date_created, .trans_return_date {
	display:block;
	margin:0px 0px 0px 10px;
}

.main_content h1 {
	background-color:white;
	margin:0px;
}
.newTransaction {
	display:inline-block;
	background-color:white;
	margin:auto;
}
.newTransaction label, input, textarea, select {
	display:block;
	text-align:left;
}

footer {
	color:#bbb;
	text-align:center;
	height:50px;
}
#footer_wrapper {
	display:inline-block;
}
footer > * {
	display:inline-block;
}
#copyright {
	margin-right:1%;
}
#footer_date {
	margin-left:1%;
}


input[type=text], input[type=password], input[type=email], input[type=date], select {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  margin-bottom:15px;
}

textarea {
	width:100%;
	height:24px;
	border-color:black;
}

input[type=text]:focus, input[type=password]:focus, textarea, input[type=email]:focus, input[type=date]:focus, select  {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}
form a:link, a:visited, a:hover, a:active, a {
	text-decoration: none;
	color:black;
}

main .transaction .custom_button {
	margin-top:15%;
	color:black;
}

form #button_wrapper .custom_button, input[type=submit], form a, .transaction .custom_button, input[type=file] {
	font-size:0px;
	font-size:1em;
	font-family: 'Averia Gruesa Libre', cursive;
	display:inline-block;
	background-color:#eee;
	width:70px;
	height:30px;
	text-align:center;
	vertical-align:middle;
	border:0px;
	padding:0px;
	line-height:30px;
	margin: 0px 25px;
}
#fileToUpload::-webkit-file-upload-button  {
	margin-top:15px;
  background-color:#eee;
}
#fileToUpload::before {
  content: 'Select ';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

form {
	background-image: url("../pictures/backgrounds/bg.png");
}
#fileToUpload.custom_button.block input
{ 
background-color:red;
color:white;

}
input#fileToUpload.custom_button.block {
	margin:5px;
	width:57px;
	border-radius:5px;
	vertical-align:middle;
	outline: 0;
	display:inline-block;
}
form #button_wrapper_block {
	display:block;
	margin-top:15px;
	text-align: left;
	line-height:10px;
	color:black;
}
input[name=upload] {
	margin-top:30px;
	margin-left:0px;
}

#button_wrapper {
	display:block;
	text-align:center;
	margin-top:15px;
}

.filter {
	background-image: url("../pictures/backgrounds/bg.png");
	width:100%;
	height:100%;
	position:fixed;
	z-index:-1;
}

.login {
	position:fixed;
	left: 50%;
	top: 40%;
	margin-top: -20px;
	margin-left:-15%;
}

.register {
	position:fixed;
	left: 50%;
	top: 20%;
	margin-top: -20px;
	margin-left:-15%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 1000px white inset;
}
